.container {
 width: 800px;  
margin: 0 auto;


}


.first-three-box-wrapper {
 display: flex;
}
.box1 {
    flex-grow: 1;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(202, 197, 197);
    padding: 20px;
    margin: 10px;
   
}
.second-three-box-wrapper {
    display: flex;
}
.box2 {
    flex-grow: 1;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(175, 171, 171);
    padding: 20px;
    margin: 10px;
}
.box2-spacial {
    flex-grow: 2;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(175, 171, 171);
    padding: 20px;
    margin: 10px;
    flex-basis: 300%;
}
.theerd-three-box-wrapper {
    display: flex;
}
.box3 {
    flex-grow: 1;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(175, 171, 171);
    padding: 20px;
    margin: 10px;
    
}
.box3-special {
    flex-grow: 2;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(175, 171, 171);
    padding: 20px;
    margin: 10px;
    flex-basis: 200%;
}
.fourth-three-box-wrapper {
    display: flex;
}
.box4 {
    flex-grow: 1;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(175, 171, 171);
    padding: 20px;
    margin: 10px;
}
.box4-special {
    flex-grow: 2;
    background-color: rgb(211, 221, 221);
    border: 1px solid rgb(175, 171, 171);
    padding: 20px;
    margin: 10px;
    flex-basis: 200%;
}