.container {
    background-color: rgb(212, 212, 245);
    font-family:Cambria, Cochin, Georgia, Times;   
    position: fixed;
}

.Albert {
    color: rgb(87, 87, 207);
    text-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    
}
.Physicist {
    text-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    
}
.ten-things {
    text-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 30em;  
}
.mc { 
    color: rgb(64, 197, 64);
    margin-left: auto;
    margin-right: auto;
    width: 8em;   
}

img {
    margin: 5px;
    width: 15%;
}

.text {
  margin-left: 30px;
  margin-right: 30px;
 }  
 
.Einstein {
    vertical-align: middle; 
}
.last-paragraph {
   margin: 10px;
    height: 50px;
    color: crimson;
    font-size: 120%;
}
.Wikipedia {
    color: darkblue;
   
}